header{
    background-color: #76c587;
}
h1{
    text-align: center;
    color: #e4e4c2;
}
h2{
    color: #765eaf;
}
section{
    background-color: #9cd565;
}
link{
    color:#7789d4;
    background-color: #FFFFF6;
}
img{
    display: none;
}